<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Track Time History</title>
    <link rel="stylesheet" href="/style.css">  
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BJF2XSZ8LN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BJF2XSZ8LN');
    </script>
</head>
<body>
    
    <center>
   
        <div class="logo">TRACK<br>T  I  M  E</div>
        <div class="logowork">@ WORK</div>

        <h2 class="page">Project Tracked Time History</h2>

   <!-- Dropdown box to select project -->
    <label class="page" for="project">Select Project:</label>
    <select id="project" onchange="loadProjectData()">
    <option class="page" value="">Select Project</option>
    <% projects.forEach(project => { %>
        <option value="<%= project.clickedProjectButton %>"><%= project.clickedProjectButton %></option>
    <% }) %>
    </select>
    <br>
    <!-- Show all tracked time -->
        <table id="projectData">
            <thead>
                <tr>
                    <th>Staff Name</th>
                    <th>Timer Date</th>
                    <th>Project</th>
                    <th>Activity</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Timer Display</th>
                </tr>
            </thead>
            <tbody>
                <% projhistory.forEach(post => { %>
                    <tr>
                        <td><%= post.staffname %></td>
                        <td><%= new Date(post.timerdate).toDateString() %></td>
                        <td><%= post.clickedProjectButton %></td>
                        <td><%= post.clickedActivityButton %></td>
                        <td><%= post.formattedStartTime %></td>
                        <td><%= post.formattedendtime %></td>
                        <td><%= post.timerDisplay %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

  <!-- Total Sum of Timer Hours and Minutes for Selected Project -->
  <div id="totalSum"></div>

        <!-- Script to handle project selection change -->
    <script>
        function loadProjectData() {
            var projectId = document.getElementById('project').value;
            fetch(`/project-data/${projectId}`)
            .then(response => response.json())
            .then(data => {
                var table = document.getElementById('projectData');
                // Clear existing table body data
                var tbody = table.querySelector('tbody');
                tbody.innerHTML = '';
                data.forEach(post => {
                    var row = tbody.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    var cell7 = row.insertCell(6);
                   
                    cell1.textContent = post.staffname;
                    cell2.textContent = new Date(post.timerdate).toDateString();
                    cell3.textContent = post.clickedProjectButton;
                    cell4.textContent = post.clickedActivityButton;
                    cell5.textContent = post.formattedStartTime;
                    cell6.textContent = post.formattedendtime;
                    cell7.textContent = post.timerDisplay;
                  
                });
                // Calculate and display total sum of timer hours and minutes
                var totalSum = data.reduce((acc, curr) => {
                    return {
                        timerhoursint: acc.timerhoursint + curr.timerhoursint,
                        timerminutesint: acc.timerminutesint + curr.timerminutesint
                    };
                }, { timerhoursint: 0, timerminutesint: 0 });

                // Convert minutes to hours and minutes
                var totalHours = Math.floor(totalSum.timerminutesint / 60);
                var remainingMinutes = totalSum.timerminutesint % 60;

                document.getElementById('totalSum').innerHTML = `
                    <p class="page">Total Time Tracked for Project:<b> ${totalSum.timerhoursint} hours and ${remainingMinutes} minutes <b></p>
                `;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    <div class="container">
        <a href="/"><img src="homeicon.png" alt="Home" width="40px"></a>
            <div class="page" style="font-size: 13px;">Home</div>
        
        </div>
    </center>
</body>
</html>